//exemplo de preenchimento do arquivo defines.h

#define NOME "Nome da Rede"
#define SENHA "Sua senha"

#define BOTtoken "XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#define CHAT_ID "XXXXXXXXXX"

#define DEFAULT_INIT ""
#define DEFAULT_INTERVAL ""
#define DEFAULT_QUANTIDY ""

#define SERVO_PIN 0
#define SERVO_TEST false
#define SERVO_INIT_POS 0
