//exemplo de preenchimento do arquivo defines.h

#define NOME "Nome da Rede"
#define SENHA "Sua senha"

#define BOTtoken "XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#define CHAT_ID "XXXXXXXXXX"

#define DEFAULT_INIT "16"
#define DEFAULT_INTERVAL "3"
#define DEFAULT_QUANTIDY "3"

#define SERVO_PIN D5

#define BOTDELAY 1000